.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid;

    img {
        width: 5%;
        margin-left: 2.5%;
    }

    headerblock {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        background-color: lightblue;
        width: 70px;
        height: 50px;
        font-weight: bold;
        font-size: 18px;
        border-radius: 10px;
    }
}